.App {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result {
  font-size: 5em;
}

.hangman {
  width: 20%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.word-to-guess {
  width: 10em;
  font-size: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.incorrect-letters {
  position: relative;
  width: 10em;
  font-size: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.incorrect-letters>div {
  position: relative;
}

.incorrect-letters>div::after {
  content: '';
  position: absolute;
  top: 0.25em;
  left: 0.20em;
  width: 0.1em;
  height: 1em;
  background-color: red;
  opacity: 0.75;
  transform: rotate(45deg);
}

.keyboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30em;
}

.keyboard-design {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.keyboard-design>div {
  width: 4em;
  font-size: 1.25em;
  border: 2px solid black;
  border-radius: 0.25em;
}

.keyboard {
  width: 20em;
  font-size: 1.25em;
}

.keyboard>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  width: 100%;
  border-radius: 0.5em;
}

.keyboard .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.keyboard .row div {
  border: 1px solid black;
  width: 10%;
}